<%- include('../partials/head.html') %>
<%- include('../partials/header.html') %>


<div class="container mt-5">
    <h1>Gerenciar Usuários</h1>
    <div class="row">
        <div class="col-7">
        </div>
        <div class="mb-3 col-5">
            <button class="btn btn-primary justify-content-end" data-bs-toggle="modal" data-bs-target="#createModal"> <i class="bi bi-plus-circle"></i> Adicionar Usuário</button>
        </div>
    </div>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th class="text-center" style="width: 50%;">Ações</th>
            </tr>
        </thead>
        <tbody id="usuarioTableBody">
            <!-- Os usuários serão carregados aqui via AJAX -->
        </tbody>
    </table>
</div>

<!-- Modal para inserir um novo usuário  -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Adicionar Usuário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createUserForm" action="/admin/usuarios" method="POST">
                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome do usuário</label>
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Fulano de tal... " required>
                    </div>
                    <div class="mb-3">
                        <label for="usuario" class="form-label">Usuário</label>
                        <input type="text" class="form-control" id="usuario" name="usuario" placeholder="exemplo.teste" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="teste@email.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="tipoUsuario" class="form-label">Tipo de Usuário</label>
                        <select class="form-select" id="tipoUsuario" name="tipoUsuario" required>
                            <option value="comum">Comum</option>
                            <option value="admin">Administrador</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="senha" name="senha" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal para visualizar dados de um usuário -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewModalLabel">Visualizar Usuário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="viewUserForm">
                    <input type="hidden" id="viewId" name="id">
                    <div class="mb-3">
                        <label for="viewNome" class="form-label">Nome do usuário</label>
                        <input type="text" class="form-control" id="viewNome" name="nome"  required readonly>
                    </div>
                    <div class="mb-3">
                        <label for="viewUsuario" class="form-label">Usuário</label>
                        <input type="text" class="form-control" id="viewUsuario" name="usuario" required readonly>
                    </div>
                    <div class="mb-3">
                        <label for="viewEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="viewEmail" name="email" required readonly>
                    </div>
                    <div class="mb-3">
                        <label for="viewTipoUsuario" class="form-label">Tipo de Usuário</label>
                        <select class="form-select" id="viewTipoUsuario" name="tipoUsuario" required disabled>
                            <option value="comum">Comum</option>
                            <option value="admin">Administrador</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar um usuário -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Usuário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editUserForm" action="/admin/usuarios/edit" method="POST">
                    <input type="hidden" id="editId" name="id">
                    <div class="mb-3">
                        <label for="editNome" class="form-label">Nome do usuário</label>
                        <input type="text" class="form-control" id="editNome" name="nome" placeholder="Fulano de tal... " required>
                    </div>
                    <div class="mb-3">
                        <label for="editUsuario" class="form-label">Usuário</label>
                        <input type="text" class="form-control" id="editUsuario" name="usuario" placeholder="exemplo.teste" required readonly>
                    </div>
                    <div class="mb-3">
                        <label for="editEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="editEmail" name="email" placeholder="email@teste.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="editTipoUsuario" class="form-label">Tipo de Usuário</label>
                        <select class="form-select" id="editTipoUsuario" name="tipoUsuario" required>
                            <option value="comum">Comum</option>
                            <option value="admin">Administrador</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Remover um usuário -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Remover Usuário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="deleteUserForm" action="/admin/usuarios/delete" method="POST">
                    <input type="hidden" id="deleteId" name="id">
                    <p>Tem certeza que deseja remover o usuário <span id="deleteNome"></span>?</p>
                    <button type="submit" class="btn btn-danger">Remover</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Associar Categorias -->
<div class="modal fade" id="assocCategoriasModal" tabindex="-1" role="dialog" aria-labelledby="assocCategoriasModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assocCategoriasModalLabel">Associar Categorias</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="assocCategoriasForm">
                    <input type="hidden" id="assocIdUsuario">
                    <div id="categoriasList" class="form-group">
                        <!-- As categorias serão carregadas aqui via AJAX -->
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Associar Protocolos -->
<div class="modal fade" id="assocProtocolosModal" tabindex="-1" role="dialog" aria-labelledby="assocProtocolosModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assocProtocolosModalLabel">Associar Protocolos</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="assocProtocolosForm">
                    <input type="hidden" id="assocProtIdUsuario">
                    <div id="protocolosList" class="form-group">
                        <!-- Os protocolos serão carregadas aqui via AJAX -->
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/admin/gerenciarUsuarios.js"></script>
<%- include('../partials/footer.html') %>