<%- include('../partials/head.html') %>
<%- include('../partials/header.html') %>

<div class="container mt-5">
    <h1>Gerenciar Protocolos</h1>
    <div class="row">
        <div class="col-7">
        </div>
        <div class="mb-3 col-5">
            <button class="btn btn-primary justify-content-end" data-bs-toggle="modal" data-bs-target="#createModal"> <i class="bi bi-plus-circle"></i> Adicionar Protocolos</button>
        </div>
    </div>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Protocolo</th>
                <th>Categoria</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody id="protocoloTableBody">
            <!-- Os protocolos serão carregados aqui via AJAX -->
        </tbody>
    </table>
</div>

<!-- Modal para adicionar um novo protocolo -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Incluir Novo Protocolo</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createProtocoloForm" action="/admin/protocolos" method="POST">
                    <div class="form-group">
                        <label for="nome">Nome do Protocolo</label>
                        <input type="text" class="form-control" name="descricao" required>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para realizar o upload do arquivo do protocolo -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="uploadProtocoloForm" action="/admin/protocolos/upload" method="POST" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadModalLabel"></h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="idProtocolo" id="idProtocolo" value="">
                    <div class="form-group">
                        <input type="file" class="form-control-file" name="anexo" required>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para realizar a edição do protocolo -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="editProtocoloForm" action="/admin/protocolos/edit" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Editar Protocolo</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="idProtocolo" id="idProtocoloEdit" value="">
                    <div class="form-group">
                        <label for="nome">Nome do Protocolo</label>
                        <input type="text" class="form-control" name="descricao" id="descricaoEdit" required>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para realizar a exclusão do protocolo -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="deleteProtocoloForm" action="/admin/protocolos/delete" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Excluir Protocolo</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="idProtocolo" id="idProtocoloDelete" value="">
                    <button type="submit" class="btn btn-danger mt-2">Excluir</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para exibir o PDF -->
<div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="pdfModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pdfModalLabel">Visualizar Protocolo</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="pdfContainer"></div>
            </div>
        </div>
    </div>
</div>


<script src="/admin/gerenciarProtocolos.js"></script>
<script src="/pdfRenderer.js"></script>
<%- include('../partials/footer.html') %>