<%- include('../partials/head.html') %>
<%- include('../partials/header.html') %>

<div class="container mt-5">
    <h1>Gerenciar Protocolos</h1>
    <div class="row">
        <div class="col-7">
        </div>
        <div class="mb-3 col-5">
            <button class="btn btn-primary justify-content-end" data-bs-toggle="modal" data-bs-target="#createModal"> <i class="bi bi-plus-circle"></i> Adicionar Protocolos</button>
        </div>
    </div>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Protocolo</th>
                <th>Categoria</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody id="protocoloTableBody">
            <!-- Os protocolos serão carregados aqui via AJAX -->
        </tbody>
    </table>
</div>



<script src="/admin/gerenciarProtocolos.js"></script>
<%- include('../partials/footer.html') %>