<script src="logout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.1/dist/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

    $(document).ready(function(){
        $('.btnSidebarToggle').click(function(){
            let sidebar = $('.sidebar')
            if (sidebar.css('display') == 'none' || sidebar.css('display') == ''){
                sidebar.css('display', 'flex');
            }else{
                sidebar.css('display', 'none');
            }
        })

        // Obter o caminho atual da URL
        var path = window.location.pathname;
        // Iterar por todos os links da sidebar
        $('.sidebar .nav-link').each(function(){
            // Verificar se o href do link corresponde ao caminho atual
            if ($(this).attr('href') === path) {
                // Se sim, adicionar a classe 'active' ao link
                $(this).addClass('active');
            } else {
                $(this).removeClass('active');
            }
        });
    })
</script>
</body>
</html>