<body>
    <div class="container">
        <!-- Título -->
        <div class="row title">
            <div class="col-2 text-start">
                <button class="btn btn-light btnSidebarToggle" >
                    <i class="bi bi-list"></i>
                </button>
            </div>
            <div class="col-10">
                <h1>Controle de Protocolos</h1>
            </div>
        </div>

        <div class="row justify-content-end mt-1">
            <div class="col-auto">
                <button type="submit" class="btn btn-light" id="btnLogout">
                    <i class="bi bi-box-arrow-right me-1"></i>
                    <span>Sair</span>
                </button>
            </div>
        </div>
    </div>


    <!-- Sidebar -->
    <div class="flex-column flex-shrink-0 p-3 text-white bg-dark sidebar" >
            <span class="fs-4">Uniprotocols</span>
            <i class="bi bi-x-lg close-btn btnSidebarToggle"></i>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/home" class="nav-link text-white" aria-current="page">
                    <i class="bi bi-house me-1"></i> 
                    Home
                </a>
            </li>
            <li>
                <a href="/categorias" class="nav-link text-white" id="btnCategorias">
                    <i class="bi bi-grid me-1"></i>
                    Categorias
                </a>
            </li>
            <li>
                <a href="/protocolos" class="nav-link text-white">
                    <i class="bi bi-file-earmark-text me-1"></i>
                    Protocolos
                </a>
            </li>
            <li>
                <a href="/favoritos" class="nav-link text-white">
                    <i class="bi bi-star me-1"></i>
                    Favoritos
                </a>
            </li>
            <% if (tipoUsuario === 'admin') { %>
                <li>
                    <a href="/admin/categorias" class="nav-link text-white" id="btnCategorias">
                        <i class="bi bi-grid-1x2 me-1"></i>
                        Gerenciar categorias
                    </a>
                </li>
                <li>
                    <a href="/admin/protocolos" class="nav-link text-white" id="btnCategorias">
                        <i class="bi bi-journal-check me-1"></i>
                        Gerenciar protocolos
                    </a>
                </li>
                <li>
                    <a href="/admin/usuarios" class="nav-link text-white" id="btnCategorias">
                        <i class="bi bi-person-gear me-1"></i>
                        Gerenciar usuários
                    </a>
                </li>
            <% } %>

        </ul>
        <hr>
        <div>
            <a href="/perfil" class="align-items-center text-white text-decoration-none" id="perfil">
                <img src="/uploads/<%= foto %>" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong><%= nome %></strong>
            </a>
            
        </div>
    </div>