<%- include('partials/head.html') %>

    <section>
        <div class="container mt-5 pt-5">
          <div class="row">
            <div class="col-12 col-sm-7 col-md-6 m-auto">
              <div class="card border-0 shadow text-center">
                <div class="card-title mt-3 h3">Cadastre-se</div>
                    <div class="card-body ">
                        <i class="bi bi-person-circle" id="icon-login"></i>
                        <form method="post" id="form-cadastro">
                            <input type="text" name="nome" id="cad_nome" class="form-control my-4 py-2" placeholder="Digite seu nome..." / required>
                            <input type="text" name="usuario" id="cad_usuario" class="form-control my-4 py-2" placeholder="Digite seu usuário..." / required>
                            <input type="text" name="senha" id="cad_senha" class="form-control my-4 py-2" placeholder="Digite sua senha..." / required>
                            <input type="text" name="conf_senha" id="conf_senha" class="form-control my-4 py-2" placeholder="Confirme sua senha..." / required>
                            <div class="text-center mt-3">
                            <button type="submit" class="btn btn-success btn-lg btn-cadastro">Cadastrar</button>
                            <b><a href="/" class="btn btn-link nav-link mt-4">Fazer login</a></b>
                            </div>
                        </form>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<script src="cadastro.js"></script>

<%- include('partials/footer.html') %>