<%- include('partials/head.html') %>
<%- include('partials/header.html') %>

    <div class="container mt-4" id="container-categoriasProtocolos">
    <!-- Campo de Busca -->
        <div class="row mb-3">
            <div class="col-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar categorias..." id="buscar-categorias">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Lista de Categorias -->
        <div class="row">
            <div class="col-12">
                <h3>Categoria: <span id="nomeCat"></span></h3>
                <hr>
                <div class="list-group" id="lista-categoriasProtocolos">
                    
                </div>
            </div>
        </div>
    </div>

<!-- <script src="categoriasProtocolos.js"></script> -->
<script>
    const idCategoria = "<%= idCategoria %>";
    $(document).ready(function(){
    $.ajax({
        url: `/api/categorias/protocolos/${idCategoria}`,
        method: 'GET',
        success: function(data) {
            $('#nomeCat').text(data[0].nomeCategoria);
            const protocolosList = $('#lista-categoriasProtocolos');
            data.forEach(protocolo => {
                const anexoUrl = `/uploads/${protocolo.anexo}`;
                protocolosList.append(`
                    <a href="${anexoUrl}" class="list-group-item list-group-item-action">${protocolo.descricao}</a>
                    `);
            });
        },
        error: function(error) {
            console.error('Erro ao buscar protocolos:', error);
        }
    });
});
</script>

<%- include('partials/footer.html') %>