<%- include('partials/head.html') %>
<%- include('partials/header.html') %>

    <div class="container mt-4" id="container-categorias">
    <!-- Campo de Busca -->
        <div class="row mb-3">
            <div class="col-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar categorias..." id="buscar-categorias">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <h3>Categorias: </h3>
        <!-- Lista de Categorias -->
        <div class="row">
            <div class="col-12">
                <div class="list-group" id="lista-categorias">
                    
                </div>
            </div>
        </div>
    </div>

<script src="categorias.js"></script>

<%- include('partials/footer.html') %>