<%- include('partials/head.html') %>
<%- include('partials/header.html') %>

<div class="container mt-4" id="container-favoritos">
    <!-- Campo de Busca -->
        <div class="row mb-3">
            <div class="col-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar favoritos..." id="buscar-favoritos">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon3">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <h3>Favoritos: </h3>
        <!-- Lista de favoritos -->
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome do protocolo</th>
                        <th scope="col" class="text-center">Favorito</th>
                    </tr>
                </thead>
                <tbody id="tabela-favoritos">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="favoritos.js"></script>
<%- include('partials/footer.html') %>