<%- include('partials/head.html') %>

<section>
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-12 col-sm-7 col-md-6 m-auto">
        <div class="card border-0 shadow text-center">
          <div class="card-title mt-3 h3">Seja Bem-vindo(a)</div>
              <div class="card-body ">
                  <i class="bi bi-person-circle" id="icon-login"></i>
                  <form method="post" id="form-login">
                      <input type="text" name="usuario" id="usuario" class="form-control my-4 py-2" placeholder="Digite seu usuário..." />
                      <input type="password" name="senha" id="senha" class="form-control my-4 py-2" placeholder="Digite sua senha..." />
                      <div class="text-center mt-3">
                      <button type="submit" class="btn btn-success btn-lg" id="btn-login">Acessar</button>
                      </div>
                  </form>
              </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="login.js"></script>
<script>
  $(document).ready(function(){
     // Função para obter o valor de uma query string
     function pegarValorStatus(key) {
        return new URLSearchParams(window.location.search).get(key);
    }

    const message = pegarValorStatus('message');
    if (message === 'disconnect') {
      Swal.fire({
            icon: 'info',
            title: 'Desconectado(a)',
            text: 'Você foi desconectado(a). Por favor, faça o login novamente.'
        });
    }
    if (message === 'errorLogin') {
      Swal.fire({
            icon: 'error',
            title: 'Usuário ou senha incorretos.'
        });
    }
  })
</script>

<%- include('partials/footer.html') %>