<%- include('partials/header') %>

<section>
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-12 col-sm-7 col-md-6 m-auto">
        <div class="card border-0 shadow text-center">
          <div class="card-title mt-3 h3">Seja Bem-vindo(a)</div>
              <div class="card-body ">
                  <i class="bi bi-person-circle" id="icon-login"></i>
                  <form method="post" id="form-login">
                      <input type="text" name="usuario" id="usuario" class="form-control my-4 py-2" placeholder="Digite seu usuário..." />
                      <input type="text" name="senha" id="senha" class="form-control my-4 py-2" placeholder="Digite sua senha..." />
                      <div class="text-center mt-3">
                      <button type="button" class="btn btn-success btn-lg" id="btn-login">Acessar</button>
                      <b><a href="/cadastro" class="btn btn-link nav-link mt-4">Cadastrar-se</a></b>
                      </div>
                  </form>
              </div>
        </div>
      </div>
    </div>
  </div>
</section>

    
<%- include('partials/footer') %>