<%- include('partials/head.html') %>
<%- include('partials/header.html') %>


<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>Seja bem-vindo, <%= nome %></h1>
           <!-- Campo para exibir a foto do usuário -->
           <img src="/uploads/<%= foto %>" alt="Foto de perfil" class="img-thumbnail" style="width: 200px; height: 200px;">
           <button class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#modalAlterarFoto">Alterar Foto</button>


            <p><b>ID:</b> <%= id %></p>
            <p><b>Usuário:</b> <%= usuario %></p>
            <p><b>Email:</b> <%= email %></p>
            <p><b>Tipo de usuário:</b> <%= tipoUsuario %></p>
            <div class="mt-4">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEditarPerfil">Editar</button>
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalAlterarSenha">Alterar Senha</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal para alteração da foto -->
<div class="modal fade" id="modalAlterarFoto" tabindex="-1" role="dialog" aria-labelledby="modalAlterarFotoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="formAlterarFoto" action="perfil/upload/foto" method="POST" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAlterarFotoLabel">Alterar Foto</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="foto">Escolha uma nova foto</label>
                        <input type="file" class="form-control" id="foto" name="foto" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para edição dos dados -->
<div class="modal fade" id="modalEditarPerfil" tabindex="-1" role="dialog" aria-labelledby="modalEditarPerfilLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="formEditarPerfil" action="/editar/perfil" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditarPerfilLabel">Editar Perfil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nome"><b>Nome</b></label>
                        <input type="text" class="form-control" id="nome" name="nome" value="<%= nome %>" required>
                    </div>
                    <div class="form-group">
                        <label for="email"><b>Email</b></label>
                        <input type="email" class="form-control" id="email" name="email" value="<%= email %>" required>
                    </div>
                    <div class="form-group">
                        <label for="usuario"><b>Usuário</b></label>
                        <input type="text" class="form-control" id="usuario" name="usuario" value="<%= usuario %>" readonly required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar Edição</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para alteração de senha -->
<div class="modal fade" id="modalAlterarSenha" tabindex="-1" role="dialog" aria-labelledby="modalAlterarSenhaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="formAlterarSenha" action="/editar/senha" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAlterarSenhaLabel">Alterar Senha</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="senhaAtual"><b>Senha Atual</b></label>
                        <input type="password" class="form-control" id="senhaAtual" name="senhaAtual" required> 
                    </div>
                    <div class="form-group
                    ">
                        <label for="novaSenha"><b>Nova Senha</b></label>
                        <input type="password" class="form-control" id="novaSenha" name="novaSenha" required>
                    </div>
                    <div class="form-group
                    ">
                        <label for="confirmarSenha"><b>Confirmar Senha</b></label>
                        <input type="password" class="form-control" id="confirmarSenha" name="confirmarSenha" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar Edição</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="editPerfil.js"></script>
<%- include ('partials/footer.html') %>