<%- include('partials/head.html') %>
<%- include('partials/header.html') %>

    <div class="container mt-4" id="container-protocolos">
    <!-- Campo de Busca -->
        <div class="row mb-3">
            <div class="col-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar protocolos..." id="buscar-protocolos">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Lista de Protocolos -->
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome do protocolo</th>
                        <th scope="col">Categoria</th>
                        <th scope="col" class="text-center">Favoritar</th>
                    </tr>
                </thead>
                <tbody id="tabela-protocolos">
                    
                </tbody>
            </table>
        </div>
    </div>
<script src="protocolos.js"></script>
<%- include('partials/footer.html') %>