.title{
    background-color: #28a745;
    color: white; 
    padding: 20px 0;
    text-align: center; 
}

#icon-login{
    font-size: 3rem;
}

#btnLogout{
    display: flex; 
    align-items: center;
}

.sidebar{
    width: 240px;
    display: none;
    position: fixed;
    z-index: 1050;
    top: 0;
    left: 0;
    height: 100vh;
}

.sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#buscar-categorias {
    border-radius: 20px;
}

#lista-categorias .list-group-item {
    cursor: pointer;
}

#lista-categorias .list-group-item:hover {
    background-color: #f8f9fa;
}

 /* Estilos para a página inicial */
 .carousel-item img {
    object-fit: contain;
}

.btn-home {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 10px;
}

.btn-home i {
    margin-right: 5px;
}

.pdf-page {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}